<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# <%= link_to "#", class: "navbar-brand" do %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%# <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <%# if user_signed_in? %>
              <li class="nav-item active">
                  <%= link_to "ABOUT", "#section6", class: "nav-link" %>
              </li>
              <li class="nav-item active" id="menuLink">
                  <%= link_to "MENU", "#", class: "nav-link" %>
              </li>
              <div class="hidden" id="menu-disp">
                  <%= render 'partials/menu' %>
              </div>
          <%# end %>
      </ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('#menuLink').addEventListener('click', function(event) {
            event.preventDefault(); // Empêche la navigation

            var menu = document.getElementById('menu-disp');
            if (menu.classList.contains('hidden')) {
                menu.classList.remove('hidden');
            } else {
                menu.classList.add('hidden');
            }
        });
    });
</script>

    </div>
  </div>
</div>
