<%= render 'partials/navbar' %>
<%# <%= render 'partials/menu' %>


<div class="conteneur">
  <section id="section1" class="white1 menu-section">
      <%= render 'partials/text_animation'%>
    <%# Texte original
     <div class="text-container1">
      <h3 class = "subtitle-main1">Full-Stack Developer</h3>
      <h1 class ="main-title">RAYAN ANSER</h1>
      <h3 class = "subtitle-main2">and doing other stuff</h3>
      <div class="scroll-button">
        <i class="fa-solid fa-chevron-down"></i>
        <p id="swipe">SWIPE</p>
      </div>
    </div>  %>
  </section>

  <section id="section2" class="black1 menu-section">
  <div class="container">
    <div class="section2" data-aos="fade-up">
      <h2 class=main-title2>PROJECTS</h2>
      <hr class = divider-white>
      <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12" data-aos="fade-left">
        <div class="card">
          <div class="cover item-a">
            <h1>S.A.M<br></h1>
            <span class="price">Full-Stack</span>
            <div class="card-back">
              <p class="description" >Sam is an app that helps
              you find royalty-free music.(because it's less expensive)</p>
              <hr class = divider-white>
                <a href="#section3">See Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12"data-aos="fade-down">
        <div class="card">
          <div class="cover item-b">
            <h1>UNO<br>Game</h1>
            <span class="price">Back-End</span>
            <div class="card-back">
              <p class="description" >A simple UNO game.(I love playing crads)</p>
              <hr class = divider-white>
                <a href="#section4">See Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" data-aos="fade-right">
        <div class="card">
          <div class="cover item-c">
            <h1>AirBnb<br>Looalike</h1>
            <span class="price">Full-Stack</span>
            <div class="card-back">
              <p class="description" >An example of a marketplace app I can do</p>
              <hr class = divider-white>
                <a href="#section5">See Project</a>
            </div>
          </div>
        </div>
    </div>
  </div>
    </div>
    </div>
  </section>


  <section id="section3" class="white1">
  <div class="container">
    <div class="section3" data-aos="fade-up">
      <h2 class=main-title2>Work</h2>
      <hr>
    </div>
      <h2 class="inside-title">SAM</h2>
      <p class="project-description" data-aos="fade-right">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <br>
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <br>
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    <div class="img-site-droit" data-aos="fade-left">
      <%= link_to "https://github.com/RayanAnser/Uno", target:"_blank" do
        # image_tag(image_path("monteur_vertical.jpg"), alt: "Image d'un monteur vidéo'", class:"img-monteur")
        image_tag("https://images.pexels.com/photos/4005567/pexels-photo-4005567.jpeg?cs=srgb&dl=pexels-luis-quintero-4005567.jpg&fm=jpg&_gl=1*1s45po2*_ga*MjkyMTU2Mzk2LjE2ODQ0ODk5NDA.*_ga_8JE65Q40S6*MTY5ODA2MTQ3OS4yOS4xLjE2OTgwNjE3OTkuMC4wLjA.")
      end %>
    </div>
  </div>
  </section>

  <section id="section4" class="black1">
    <div class="container">
    <div class="section4" data-aos="fade-up">
      <h2 class=main-title2-right>Work</h2>
      <hr>
    </div>
      <h2 class="inside-title-right">UNO</h2>
      <p class="white-project-description" data-aos="fade-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <br>
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <br>
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    <div class="img-site-gauche" data-aos="fade-right">
      <%= link_to "https://github.com/RayanAnser/Uno", target:"_blank" do
        # image_tag(image_path("monteur_vertical.jpg"), alt: "Image d'un monteur vidéo'", class:"img-monteur")
      image_tag("https://unsplash.com/photos/jmjxl6ms1vA/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8VU5PfGZyfDB8MXx8fDE2OTgwNjE4NTZ8MA&force=true")
      end %>
    </div>
  </div>
  </section>

  <section id="section5" class="white1">
    <div class="container">
    <div class="section4" data-aos="fade-up">
      <h2 class=main-title2>Work</h2>
      <hr>
    </div>
      <h2 class="inside-title">AirBnb Lookalike</h2>
      <p class="project-description" data-aos="fade-right">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <br>
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat <br>
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    <div class="img-site-droit" data-aos="fade-left">
      <%= link_to "https://github.com/RayanAnser/Uno", target:"_blank" do
        # image_tag(image_path("monteur_vertical.jpg"), alt: "Image d'un monteur vidéo'", class:"img-monteur")
        image_tag("https://unsplash.com/photos/x6vyL4YKP9c/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTV8fEFJUkJOQnxmcnwwfDF8fHwxNjk4MDYxODgyfDA&force=true")
      end %>
    </div>
  </div>
  </section>

</div>
